{% extends "dlf-base.html" %}

{% block content %}

	<span class="govuk-caption-xl">Summary data</span>
    <h1 class="govuk-heading-xl">
      Compulsory purchase orders
    </h1>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
			<div class="data-item govuk-!-margin-bottom-6">
				<span class="data-item__number govuk-!-font-size-80">{{ cpos_2019 | count }}</span>
				<p class="govuk-body govuk-!-font-size-36">Total (in 2019)</p>
			</div>
		</div>
		<div class="govuk-grid-column-one-half">
			<div class="data-item govuk-!-margin-bottom-6">
				<span class="data-item__number govuk-!-font-size-80">{{ cpos | count }}</span>
				<p class="govuk-body govuk-!-font-size-36">Total (since 2012)</p>
			</div>
		</div>
	</div>
	

    

{% endblock %}
