{% extends "dlf-base.html" %}

{% from "./govuk-jinja-components/back-link/macro.jinja" import govukBackLink %}
{% from "./dl-macros/filter-group.html" import dlfFilterGroup %}
{% from "./dl-macros/helpers.html" import random_int %}

{% block beforeContent %}
{{ super() }}

{% if request.referrer == url_for('frontend.dashboard', _external=True) %}
	{{ govukBackLink({
	  "text": "See summary of CPO data",
	  "href": url_for('frontend.dashboard')
	}) }}
{% endif %}

{% endblock %}

{% block content %}

	<h1 class="govuk-heading-xl">
	  Compulsory purchase orders
	</h1>

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-third">
			<h3 class="govuk-heading-m">Filters</h3>

			<form action="" class="govuk-form">
				{% if request.args.get('sort-by') %}
				<input type="hidden" name="sort-by" value="{{request.args.get('sort-by')}}" />
				{% endif %}

				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "Active",
						"is_open": True if request.args['live'] else False,
						"selected": 1 if request.args['live'] else 0
					}) %}
					<div class="govuk-radios">
					  <div class="govuk-radios__item">
						<input class="govuk-radios__input" id="live-true" name="live" type="radio" value="true" {% if request.args['live'] in ['True', 'true', 't'] %}checked=checked{% endif %}>
						<label class="govuk-label govuk-radios__label" for="live-true">
						  Open
						</label>
					  </div>
					  <div class="govuk-radios__item">
						<input class="govuk-radios__input" id="live-false" name="live" type="radio" value="false" {% if request.args['live'] in ['False', 'false', 'f'] %}checked=checked{% endif %}>
						<label class="govuk-label govuk-radios__label" for="live-false">
						  Closed
						</label>
					  </div>
					</div>
					{% endcall %}
				</div>

				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "Current status",
						"is_open": True if request.args['current_status'] else False,
						"selected": request.args.getlist('current_status')|length if request.args['current_status'] else 0
					}) %}
					<div class="govuk-checkboxes">

						<span id="in-process-states-hint" class="govuk-hint govuk-hint--grouping">
      					Open states
						</span>
						{% for status in cpo_statuses.in_process_states %}
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="cpo-status-ips-{{ loop.index }}" name="current_status" type="checkbox" value="{{ status }}" {% if status in request.args.getlist('current_status') %}checked=checked{% endif %}>
							{#- To INVESTIGATE: had to add |trim because withdrawn was coming through with space at the end -#}
							<label class="govuk-label govuk-checkboxes__label" for="cpo-status-ips-{{ loop.index }}">
							  {{ status|map_cpo_status_display_name|capitalize }}
							</label>
						</div>
						{% endfor %}

						<span id="final-states-hint" class="govuk-hint govuk-hint--grouping">
      					Closed states
						</span>
						{% for status in cpo_statuses.final_states %}
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="cpo-status-fs-{{ loop.index }}" name="current_status" type="checkbox" value="{{ status }}" {% if status in request.args.getlist('current_status') %}checked=checked{% endif %}>
							{#- To INVESTIGATE: had to add |trim because withdrawn was coming through with space at the end -#}
							<label class="govuk-label govuk-checkboxes__label" for="cpo-status-fs-{{ loop.index }}">
							  {{ status|map_cpo_status_display_name|capitalize }}
							</label>
						</div>
						{% endfor %}
					</div>
					{% endcall %}
				</div>

				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "Sent to Planning Inspectorate",
						"is_open": True if request.args['investigation'] else False,
						"selected": 1 if request.args['investigation'] else 0
					}) %}
					<div class="govuk-radios">
					  <div class="govuk-radios__item">
						<input class="govuk-radios__input" id="investigation-yes" name="investigation" type="radio" value="yes" {% if request.args['investigation'] in ['True', 'true', 't', 'yes'] %}checked=checked{% endif %}>
						<label class="govuk-label govuk-radios__label" for="investigation-yes">
						  Yes
						</label>
					  </div>
					  <div class="govuk-radios__item">
						<input class="govuk-radios__input" id="investigation-no" name="investigation" type="radio" value="no" {% if request.args['investigation'] in ['False', 'false', 'f', 'no'] %}checked=checked{% endif %}>
						<label class="govuk-label govuk-radios__label" for="investigation-no">
						  No
						</label>
					  </div>
					</div>
					{% endcall %}
				</div>


				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "Type",
						"is_open": True if request.args['type'] else False,
						"selected": request.args.getlist('type')|length if request.args['type'] else 0
					}) %}
					<div class="govuk-checkboxes">
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-1" name="type" type="checkbox" value="housing" {% if 'housing' in request.args.getlist('type') %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-1">
						  Housing
						</label>
					  </div>
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-2" name="type" type="checkbox" value="planning" {% if 'planning' in request.args.getlist('type') %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-2">
						  Planning
						</label>
					  </div>
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-3" name="type" type="checkbox" value="development corporation" {% if request.args['type'] == 'development corporation' %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-3">
						  Development corporation
						</label>
					  </div>
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-4" name="type" type="checkbox" value="GLA" {% if request.args['type'] == 'GLA' %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-4">
						  GLA
						</label>
					  </div>
					</div>
					{% endcall %}
				</div>


				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "Acquiring authority",
						"is_open": True if request.args['org'] else False,
						"selected": request.args.getlist('org')|length if request.args['org'] else 0
					}) %}
					
					{% set randomID_filter = random_int(5) %}
					{% set randomID_list = random_int(5) %}
					<div class="govuk-checkboxes" data-module="filter-checkboxes">
						<div class="filter-group__auto-filter">
							<label for="input-f3852fb8" class="govuk-label govuk-visually-hidden">
							Filter Show only
							</label>
							<input name="option-select-filter" id="input-f3852fb8" class="govuk-input filter-group__auto-filter__input" type="text" aria-describedby="checkbox-filter-{{ randomID_filter }}" aria-controls="checkboxes-{{ randomID_list }}">
						</div>

						<div role="group">
							<span id="checkbox-filter-{{ randomID_filter }}" class="filter-group__auto-filter__desc govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected">How many showing</span>
						
							<div id="checkboxes-{{ randomID_list }}" class="checkbox-list">
								{% for la in las %}
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="local-authority-{{ loop.index}}" name="org" type="checkbox" value="{{ la[0] }}" {% if la[0] in request.args.getlist('org') %}checked=checked{% endif %}>
									<label class="govuk-label govuk-checkboxes__label" for="local-authority-{{ loop.index }}">
									  {{ la[1] }}
									</label>
							  	</div>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endcall %}
				</div>

				<div class="govuk-form-group">
				  <label class="govuk-label" for="year">
					Year received
				  </label>
				  <span class="govuk-hint">For example, 2015</span>
				  <input class="govuk-input" id="year" name="year" type="text" {% if request.args['year'] %}value="{{ request.args['year'] }}"{% endif %}>
				</div>

				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Apply filter
				</button>
				<a class="link-align-btn" href="{{ url_for('frontend.cpo_list') }}">Clear</a>

			</form>
		</div>

	{% macro removeFilterLink(filter_name, item) %}
		{# need to reset these each time #}
		{% set year_filters = request.args.getlist('year') %}
		{% set investigation_filters = request.args.getlist('investigation') %}
		{% set type_filters = request.args.getlist('type') %}
		{% set status_filters = request.args.getlist('current_status') %}
		{% set org_filters = request.args.getlist('org') %}
		{% set live_filters = request.args.getlist('live') %}

		{% if filter_name == "year" %}
			{% set year_filters = year_filters|remove_item(item) %}
		{% elif filter_name == "investigation" %}
			{% set investigation_filters = investigation_filters|remove_item(item) %}
		{% elif filter_name == "type" %}
			{% set type_filters = type_filters|remove_item(item) %}
		{% elif filter_name == "current_status" %}
			{% set status_filters = status_filters|remove_item(item) %}
		{% elif filter_name == "organisation" %}
			{% set org_filters = org_filters|remove_item(item) %}
		{% elif filter_name == "live" %}
			{% set live_filters = live_filters|remove_item(item) %}
		{% endif %}
		<a href="{{ url_for('frontend.cpo_list', year=year_filters, investigation=investigation_filters, type=type_filters, current_status=status_filters, org=org_filters) }}" class="govuk-link">x<span class="govuk-visually-hidden">remove filtering by {{item}}</span></a>
	{% endmacro %}

	


		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body results-summary">Showing {{ cpos|length }} results</p>

			<div class="applied-filters">
				{% if request.args and request.args['live'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Active:</span>
					<span class="applied-filter__item">{{ removeFilterLink("live", request.args['live']) }}{{ request.args['live'] }}</span>
				</div>
				{% endif %}
				{% if request.args and request.args['investigation'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Sent to Planning Inspectorate:</span>
					<span class="applied-filter__item">{{ removeFilterLink("investigation", request.args['investigation']) }}{{ request.args['investigation']|capitalize }}</span>
				</div>
				{% endif %}
				{% if request.args and request.args['type'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Type:</span>
					{% for type_ in request.args.getlist('type') %}
					<span class="applied-filter__item">{{ removeFilterLink("type", type_) }}{{ type_ }}</span>
					{% endfor %}
				</div>
				{% endif %}
				{% if request.args and request.args['current_status'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Current status:</span>
					{% for status in request.args.getlist('current_status') %}
					<span class="applied-filter__item">{{ removeFilterLink("current_status", status) }}{{ status|map_cpo_status_display_name }}</span>
					{% endfor %}
				</div>
				{% endif %}
				{% if request.args and request.args['org'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Acquiring authority:</span>
					{% for org in request.args.getlist('org') %}
					<span class="applied-filter__item">{{ removeFilterLink("organisation", org) }}{{ org|map_la_code_to_name }}</span>
					{% endfor %}
				</div>
				{% endif %}
				{% if request.args and request.args['year'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Year:</span>
					<span class="applied-filter__item">{{ removeFilterLink("year", request.args['year']) }}{{ request.args['year'] }}</span>
				</div>
				{% endif %}
			</div>

			<form action="{{ request.url }}" method="GET">
				{% for arg in request.args %}
					{% for val in request.args.getlist(arg) %}
					<input type="hidden" name="{{arg}}" value="{{val}}" />
					{% endfor %}
				{% endfor %}
				<div class="govuk-form-group">
					<label class="govuk-label sort-by-label" for="cpo-sort-by">
					Sort by
					</label>
					<select class="govuk-select" id="cpo-sort-by" name="sort-by">
						<option value="date-newest" {% if request.args.get('sort-by') == "date-newest" %}selected{% endif %}>Received date (newest)</option>
						<option value="date-oldest" {% if request.args.get('sort-by') == "date-oldest" %}selected{% endif %}>Received date (oldest)</option>
					</select>
					<button type="submit" class="link-align-btn non-js-button">Sort list</button>
				</div>
			</form>

			{% if cpos|length > 0 %}
			<ul class="govuk-list cpo-list">
			{% for cpo in cpos %}
				<li class="cpo-item">
					{%- if cpo.investigations %}
					{%- set cpo_status = cpo.latest_investigation_status().status %}
					{%- else %}
					{%- set cpo_status = cpo.latest_status().status %}
					{%- endif %}
					<span class="govuk-tag {{ cpo_status | map_cpo_status_to_tag_class }}">{{ cpo_status|map_cpo_status_display_name }}</span>
					<h4 class="govuk-heading-m cpo-item__title"><a href="{{ url_for('frontend.cpo', id=cpo.compulsory_purchase_order) }}">{{ cpo.compulsory_purchase_order }}</a></h4>
					<div class="cpo-item__org">{{ cpo.organisation | map_la_code_to_name }}</div>
					<div>Location: {{ cpo.name }}</div>
					<div>Type: {{ cpo.compulsory_purchase_order_type | capitalize }}</div>
					<div>Date received: {{ cpo.start_date }}</div>
					{% if cpo.investigations %}
					<div class="dl-info-text dl-info-text--closer">
  						<span class="dl-info-text__icon" aria-hidden="true">i</span>
						<p class="dl-info-text__text">
							<span class="dl-info-text__assistive">Please note</span>
						    Public inquiry held
						</p>
					</div>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
			{% else %}
			<div class="no-results govuk-!-font-size-19">
			    <p class="govuk-body govuk-!-font-weight-bold">There are no matching results.</p>
			    <p class="govuk-body">Improve your search results by:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>removing filters</li>
					<li>searching for something less specific</li>
				</ul>
			</div>
  			{% endif %}
		</div>

	</div>

	

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
// Initialise back to top
var $filters = document.querySelectorAll('[data-module="selected-counter"]')
$filters.forEach(filter => {
	new window.DLFrontend.SelectedCounter(filter).init()
})

var $filterCheckboxes = document.querySelectorAll('[data-module="filter-checkboxes"]')
$filterCheckboxes.forEach(el => {
	new window.DLFrontend.FilterCheckboxes(el).init()
})

</script>
{% endblock %}
