{% extends "dlf-base.html" %}

{% from "./govuk-jinja-components/back-link/macro.jinja" import govukBackLink %}
{% block beforeContent %}
{{ super() }}

{{ govukBackLink({
  "text": "See summary of CPO data",
  "href": url_for('frontend.dashboard')
}) }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">
      CPO data
    </h1>

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-third">
			<h3 class="govuk-heading-m">Filter CPOs</h3>

			<form action="" class="govuk-form">

				<div class="govuk-form-group">
				  <label class="govuk-label" for="year">
				    Year
				  </label>
				  <input class="govuk-input" id="year" name="year" type="text" {% if request.args['year'] %}value="{{ request.args['year'] }}"{% endif %}>
				</div>

				<div class="govuk-form-group">
				  <fieldset class="govuk-fieldset">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				      <h1 class="govuk-fieldset__heading">
				        Has investigation
				      </h1>
				    </legend>
				    <div class="govuk-radios">
				      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="investigation-yes" name="investigation" type="radio" value="true" {% if request.args['investigation'] in ['True', 'true', 't'] %}checked=checked{% endif %}>
				        <label class="govuk-label govuk-radios__label" for="investigation-yes">
				          Has
				        </label>
				      </div>
				      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="investigation-no" name="investigation" type="radio" value="false" {% if request.args['investigation'] in ['False', 'false', 'f'] %}checked=checked{% endif %}>
				        <label class="govuk-label govuk-radios__label" for="investigation-no">
				          Doesn't have
				        </label>
				      </div>
				    </div>
				  </fieldset>
				</div>

				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Apply filter
				</button>

			</form>
		</div>

		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">Showing {{ cpos|length }} results {% if request.args['year'] %} for {{ request.args['year'] }}{% endif %}</p>
		    <ul class="govuk-list govuk-list--bullet">
		    {% for cpo in cpos %}
		        <li><a href="{{ url_for('frontend.cpo', id=cpo.compulsory_purchase_order) }}">{{ cpo.compulsory_purchase_order }}</a>
		        	<span class="govuk-tag">{{ cpo.latest_status().status }}</span>
		        	<span>- {{ cpo.start_date }}</span>
		        </li>
		    {% endfor %}
		    </ul>
		</div>

	</div>

	

{% endblock %}
