{% extends "dlf-base.html" %}

{% block content %}

	<span class="govuk-caption-xl">Summary data</span>
    <h1 class="govuk-heading-xl">
      Compulsory purchase orders
    </h1>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
			<div class="data-item govuk-!-margin-bottom-6">
				<span class="data-item__number govuk-!-font-size-80">{{ by_year.counts[-1][1] }}</span>
				<p class="govuk-body govuk-!-font-size-36">Total (this year)</p>
				<span><a href="{{ url_for('frontend.cpo_list', year=2019) }}" class="govuk-link">See CPOs for 2019</a></span>
			</div>
		</div>
		<div class="govuk-grid-column-one-half">
			<div class="data-item govuk-!-margin-bottom-6">
				<span class="data-item__number govuk-!-font-size-80">{{ cpos | count }}</span>
				<p class="govuk-body govuk-!-font-size-36">Total (since 2012)</p>
			</div>
		</div>
	</div>

	<h2 class="govuk-heading-m">Number of CPOs per year (last 5)</h2>

	{% set max_count = (((by_year.max/100)|round(1, 'ceil'))*100)|int %}
	{% set min_count = (((by_year.min/100)|round(1, 'floor'))*100)|int %}
	{% set difference = max_count - min_count %}
	<ul class="govuk-list">
		{% for year in by_year.counts %}
		{% set relative_value = year[1] - min_count %}
		<li>
		<div class="govuk-grid-row contribution-category-row">
		  <div class="govuk-grid-column-one-quarter">
		    <h4 class="govuk-heading-s contribution-category-heading">{{ year[0] }}</h4>
		  </div>
		  <div class="govuk-grid-column-three-quarters contribution-bar-container">
			{% set bar_percentage = ((relative_value/difference)*65)|int %}
		    <div class="contribution-bar" style="width: {{ bar_percentage + 35 }}%;">
		      <span class="govuk-!-font-size-24 govuk-!-font-weight-bold data-item">{{ year[1] }}</span>
		    </div>
		    <div class="govuk-!-font-size-24 data-item cb-floating-figure">{{ year[1] }}</div>
		  </div>
		</div>
		</li>
		{% endfor %}
	</ul>

	<h3 class="govuk-heading-m">Lastest CPOs</h3>
	<ul class="govuk-list">
		{% for cpo in recent_cpos %}
		<li>
			<span class="govuk-tag">{{ cpo.latest_status().status }}</span>
			<a href="{{ url_for('frontend.cpo', id=cpo.compulsory_purchase_order) }}">{{ cpo.compulsory_purchase_order }}</a>, 
			<span>{{ cpo.name }}</span>
        </li>
		{% endfor %}
	</ul>
    

{% endblock %}
