{% extends "dlf-base.html" %}

{% from "./govuk-jinja-components/back-link/macro.jinja" import govukBackLink %}
{% from "./dl-macros/filter-group.html" import dlfFilterGroup %}

{% block beforeContent %}
{{ super() }}

{{ govukBackLink({
  "text": "See summary of CPO data",
  "href": url_for('frontend.dashboard')
}) }}
{% endblock %}

{% block content %}

	<h1 class="govuk-heading-xl">
	  Compulsory purchase orders
	</h1>

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-third">
			<h3 class="govuk-heading-m">Filters</h3>

			<form action="" class="govuk-form">

				<div class="govuk-form-group">
				  <label class="govuk-label" for="year">
					Year
				  </label>
				  <input class="govuk-input" id="year" name="year" type="text" {% if request.args['year'] %}value="{{ request.args['year'] }}"{% endif %}>
				</div>

				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "Investigation",
						"is_open": True if request.args['investigation'] else False,
						"selected": 1 if request.args['investigation'] else 0
					}) %}
					<div class="govuk-radios">
					  <div class="govuk-radios__item">
						<input class="govuk-radios__input" id="investigation-yes" name="investigation" type="radio" value="true" {% if request.args['investigation'] in ['True', 'true', 't'] %}checked=checked{% endif %}>
						<label class="govuk-label govuk-radios__label" for="investigation-yes">
						  Has
						</label>
					  </div>
					  <div class="govuk-radios__item">
						<input class="govuk-radios__input" id="investigation-no" name="investigation" type="radio" value="false" {% if request.args['investigation'] in ['False', 'false', 'f'] %}checked=checked{% endif %}>
						<label class="govuk-label govuk-radios__label" for="investigation-no">
						  Doesn't have
						</label>
					  </div>
					</div>
					{% endcall %}
				</div>


				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "CPO type",
						"is_open": True if request.args['type'] else False,
						"selected": request.args.getlist('type')|length if request.args['type'] else 0
					}) %}
					<div class="govuk-checkboxes">
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-1" name="type" type="checkbox" value="housing" {% if 'housing' in request.args.getlist('type') %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-1">
						  Housing
						</label>
					  </div>
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-2" name="type" type="checkbox" value="planning" {% if 'planning' in request.args.getlist('type') %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-2">
						  Planning
						</label>
					  </div>
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-3" name="type" type="checkbox" value="development corporation" {% if request.args['type'] == 'development corporation' %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-3">
						  Development corporation
						</label>
					  </div>
					  <div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="cpo-type-4" name="type" type="checkbox" value="GLA" {% if request.args['type'] == 'GLA' %}checked=checked{% endif %}>
						<label class="govuk-label govuk-checkboxes__label" for="cpo-type-4">
						  GLA
						</label>
					  </div>
					</div>
					{% endcall %}
				</div>


				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "CPO status",
						"is_open": True if request.args['current_status'] else False,
						"selected": request.args.getlist('current_status')|length if request.args['current_status'] else 0
					}) %}
					<div class="govuk-checkboxes">
					{% for status in cpo_statuses %}
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="cpo-status-{{ loop.index }}" name="current_status" type="checkbox" value="{{ status }}" {% if status in request.args.getlist('current_status') %}checked=checked{% endif %}>
							{#- To INVESTIGATE: had to add |trim because withdrawn was coming through with space at the end -#}
							<label class="govuk-label govuk-checkboxes__label" for="cpo-status-{{ loop.index }}">
							  {{ status }}
							</label>
					  </div>
					{% endfor %}
					</div>
					{% endcall %}
				</div>


				<div class="govuk-form-group">
					{% call dlfFilterGroup({
						"title": "Organisation",
						"is_open": True if request.args['org'] else False,
						"selected": request.args.getlist('org')|length if request.args['org'] else 0
					}) %}
					
					<div class="govuk-checkboxes" data-module="filter-checkboxes">
						<div class="filter-group__auto-filter">
							<label for="input-f3852fb8" class="govuk-label govuk-visually-hidden">
							Filter Show only
							</label>
							<input name="option-select-filter" id="input-f3852fb8" class="govuk-input filter-group__auto-filter__input" type="text">
						</div>
					{% for la in las %}
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="local-authority-{{ loop.index}}" name="org" type="checkbox" value="{{ la[0] }}" {% if la[0] in request.args.getlist('org') %}checked=checked{% endif %}>
							<label class="govuk-label govuk-checkboxes__label" for="local-authority-{{ loop.index }}">
							  {{ la[1] }}
							</label>
					  	</div>
					{% endfor %}
					</div>
					{% endcall %}
				</div>

				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Apply filter
				</button>
				<a class="link-align-btn" href="{{ url_for('frontend.cpo_list') }}">Clear</a>

			</form>
		</div>

	{% macro removeFilterLink(filter_name, item) %}
		{# need to reset these each time #}
		{% set year_filters = request.args.getlist('year') %}
		{% set investigation_filters = request.args.getlist('investigation') %}
		{% set type_filters = request.args.getlist('type') %}
		{% set status_filters = request.args.getlist('current_status') %}
		{% set org_filters = request.args.getlist('org') %}

		{% if filter_name == "year" %}
			{% set year_filters = year_filters|remove_item(item) %}
		{% elif filter_name == "investigation" %}
			{% set investigation_filters = investigation_filters|remove_item(item) %}
		{% elif filter_name == "type" %}
			{% set type_filters = type_filters|remove_item(item) %}
		{% elif filter_name == "current_status" %}
			{% set status_filters = status_filters|remove_item(item) %}
		{% elif filter_name == "organisation" %}
			{% set org_filters = org_filters|remove_item(item) %}
		{% endif %}
		<a href="{{ url_for('frontend.cpo_list', year=year_filters, investigation=investigation_filters, type=type_filters, current_status=status_filters, org=org_filters) }}" class="govuk-link">x<span class="govuk-visually-hidden">remove filtering by {{item}}</span></a>
	{% endmacro %}

	


		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">Showing {{ cpos|length }} results {% if request.args['year'] %} for {{ request.args['year'] }}{% endif %}</p>

			<div class="applied-filters">
				{% if request.args and request.args['year'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Year:</span>
					<span class="applied-filter__item">{{ removeFilterLink("year", request.args['year']) }}{{ request.args['year'] }}</span>
				</div>
				{% endif %}
				{% if request.args and request.args['investigation'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Investigation:</span>
					<span class="applied-filter__item">{{ removeFilterLink("investigation", request.args['investigation']) }}{{ request.args['investigation'] }}</span>
				</div>
				{% endif %}
				{% if request.args and request.args['type'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Type:</span>
					{% for type_ in request.args.getlist('type') %}
					<span class="applied-filter__item">{{ removeFilterLink("type", type_) }}{{ type_ }}</span>
					{% endfor %}
				</div>
				{% endif %}
				{% if request.args and request.args['current_status'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Current status:</span>
					{% for status in request.args.getlist('current_status') %}
					<span class="applied-filter__item">{{ removeFilterLink("current_status", status) }}{{ status }}</span>
					{% endfor %}
				</div>
				{% endif %}
				{% if request.args and request.args['org'] %}
				<div class="applied-filter__group">
					<span class="applied-filter__name govuk-!-font-weight-bold">Organisation:</span>
					{% for org in request.args.getlist('org') %}
					<span class="applied-filter__item">{{ removeFilterLink("organisation", org) }}{{ org|map_la_code_to_name }}</span>
					{% endfor %}
				</div>
				{% endif %}
			</div>

			<ul class="govuk-list cpo-list">
			{% for cpo in cpos %}
				<li class="cpo-item">
					{% set cpo_status = cpo.latest_status().status %}
					<span class="govuk-tag {{ cpo_status | map_cpo_status_to_tag_class }}">{{ cpo_status }}</span>
					<h4 class="govuk-heading-m cpo-item__title"><a href="{{ url_for('frontend.cpo', id=cpo.compulsory_purchase_order) }}">{{ cpo.compulsory_purchase_order }}</a></h4>
					<div class="cpo-item__org">{{ cpo.organisation | map_la_code_to_name }}</div>
					<div>Issue date: {{ cpo.start_date }}</div>
					<div>Type: {{ cpo.compulsory_purchase_order_type | capitalize }}</div>
					<div>Location: {{ cpo.name }}</div>
				</li>
			{% endfor %}
			</ul>
		</div>

	</div>

	

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
// Initialise back to top
var $filters = document.querySelectorAll('[data-module="selected-counter"]')
$filters.forEach(filter => {
	new SelectedCounter(filter).init()
})

var $filterCheckboxes = document.querySelectorAll('[data-module="filter-checkboxes"]')
$filterCheckboxes.forEach(el => {
	new FilterCheckboxes(el).init()
})

</script>
{% endblock %}
