{% extends "dlf-base.html" %}

{% from "./govuk-jinja-components/back-link/macro.jinja" import govukBackLink %}

{% block beforeContent %}
{{ super() }}

{% if request.referrer %}
    {% if request.url_root in request.referrer %}
    {{ govukBackLink({
      "text": "Back",
      "href": request.referrer
    }) }}
    {% else %}
    {{ govukBackLink({
      "text": "See list of all compulsory purchase orders",
      "href": url_for('frontend.cpo_list')
    }) }}
    {% endif %}
{% endif %}
{% endblock %}


{% block content %}

    <span class="govuk-caption-xl">Compulsory purchase order</span>
    <h1 class="govuk-heading-xl">
      {{ cpo.compulsory_purchase_order }}
    </h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">{% if cpo.statuses %}
            <h3 class="govuk-heading-s">Status</h3>
                <ul class="govuk-list govuk-list--bullet timeline">
                    {% for status in cpo.statuses %}
                        <li class="timeline__item">
                            <span class="timeline__item__title">{{ status.status | capitalize }}</span>
                            <span class="timeline__item__date">{{ status.start_date }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if cpo.investigations %}
            <h3 class="govuk-heading-s">Inquiry</h3>
                <ul class="govuk-list govuk-list--bullet timeline">
                    {% for investigation in cpo.investigations %}
                        <li class="timeline__item">
                            <span class="timeline__item__title">{{ investigation.status | capitalize }}</span>
                            <span class="timeline__item__date">{{ investigation.start_date }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">Location:</span> {{ cpo.name }}</p>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Acquiring authority:</span> {{ cpo.organisation | map_la_code_to_name }}</p>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Type:</span> {{ cpo.compulsory_purchase_order_type | capitalize }}</p>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Date received:</span> {{ cpo.start_date }}</p>
            <p class="govuk-body">{% if cpo.decription %}{{cpo.description}}{% else %}No description available{% endif %}</p>

            {% if cpo.has_final_status() %}
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Days from receipt to decision:</span>
                    {{ cpo.days_to_completion() }}
                    </p>
                {% if cpo.has_inquiry()  %}
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Days taken for PINS enquiry:</span>
                         {{ cpo.days_for_inquiry() }}
                    </p>
                {% endif %}
            {% else %}
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Days since receipt:</span>
                    {{ cpo.days_since_received() }}
                </p>
            {% endif %}

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body">Legislation: <a href="{{ cpo.legislation_url }}">{{ cpo.legislation_name }}</a></p>
        </div>
    </div>


{% endblock %}
