{% extends "dlf-base.html" %}

{% block content %}

    <h1 class="govuk-heading-xl">
      Compulsory purchase orders
    </h1>

	<p class="govuk-body">See how and where Compulsory purchase orders (CPOs) are being used across England and get details on individual CPOs.</p>

	<ul class="govuk-list govuk-list--bullet">
		<li><a href="{{ url_for('frontend.dashboard')}}">Overview of CPO data</a>
			<p class="govuk-body">Find out facts and figures about CPOs.</p></li>
		<li><a href="{{ url_for('frontend.cpo_list')}}">Explore CPO data</a>
			<p class="govuk-body">Filter all CPOs by date, location, status and more.</p></li>
	</ul>

	<h2 class="govuk-heading-s">Experiments</h2>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="{{ url_for('frontend.data_index')}}">Breakdown of CPO data</a>
			<p class="govuk-body">See the number of CPOs by date, location, status and more.</p></li>
	</ul>

{% endblock %}
