{% extends "dlf-base.html" %}

{% block content %}

    <h1 class="govuk-heading-l">
      Search for compulsory purchase orders
    </h1>

    <form action="{{ url_for('frontend.search') }}" method="POST">
        <div class="govuk-form-group">
            {{ form.query.label(class_="govuk-label") }}
            {{ form.query(class_="govuk-input govuk-input--width-30") }}
        </div>

        <div class="govuk-form-group">
            <button type="submit" class="govuk-button govuk-button--start">Search now</button>
        </div>
        {{ form.csrf_token }}
    </form>

    {% if result %}
        <p class="govuk-body">
            {{ result['result_count']}}
                {% if result['result_count'] == 1 %}
                    result
                {% else %}
                    results
                {% endif %}
        </p>
        <ul class="govuk-list">
            {% for cpo in result['cpos'] %}
                <li>
                    <a class="govuk-link" href="{{ url_for('frontend.cpo', id=cpo.compulsory_purchase_order ) }}">
                        {{ cpo.compulsory_purchase_order }} </a>
                    <p class="govuk-body-s">{{ cpo.name }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
