$govuk-fonts-path: "/static/govuk/assets/fonts/";
$govuk-images-path: "/static/govuk/assets/images/";

// import all GOVUK Frontend scss
@import "all";

$using-helvetica: false;

// Import common Digital Land styles
@import "common/colours";
@import "common/helvetica-fixes";
@import "common/mhclg-branding";
@import "common/site-full-width-container";

// import Digital Land components
@import "components/page-feedback";
@import "components/buttons";
@import "components/contribution-bar";
@import "components/filter-group";
@import "components/hero";
@import "components/tags";
@import "components/panels";
@import "components/task-list";
@import "components/contents";
@import "components/govuk-search";
@import "components/dl-info-text";
@import "components/related-items";
@import "components/highlight-box";
@import "components/pagination";


.data-item {
  @include govuk-typography-common;

  .govuk-body {
    margin-bottom: 5px;
  }
}

.data-item__link {
  padding-left: 3px;
}

.not-available-text {
  color: $govuk-secondary-text-colour;
}

.govuk-tag--confirmed {
  background: govuk-colour("green");
}

.govuk-tag--disabled {
  background: govuk-colour("dark-grey");
}

.govuk-tag--warning {
  background: govuk-colour("orange");
}

.cpo-list {
  .cpo-item {
    margin-bottom: $govuk-gutter-half;
  }
}

.cpo-item {
  padding-bottom: $govuk-gutter-half;
  border-bottom: 1px solid $govuk-border-colour;
}

.cpo-item__title {
  margin: 5px 0;
}

.cpo-item__org {
  @include govuk-text-colour;
  @include govuk-font($size: 19, $weight: bold);
}

// =====================
.applied-filters {
  @include govuk-typography-common;
  @include govuk-text-colour;
  @include govuk-font($size: 16);
  margin-bottom: $govuk-gutter-half;
  padding-bottom: 5px;
  border-bottom: 1px solid $govuk-border-colour;
}

.applied-filter__group {
  padding: 5px;

  &:nth-child(odd) {
    background: govuk-colour("light-grey");
  }
}

.applied-filter__name {
  display: inline-block;
}

.applied-filter__item {
  display: inline-block;
  margin-left: 5px;
  padding: 5px 8px;
  border: 1px solid govuk-colour("mid-grey");
  border-radius: 4px;
  background: govuk-colour("light-grey");
}

// ===================

.timeline {
  padding-left: 0;
}

.timeline__item {
  margin-bottom: 0 !important;
  list-style: none;
}

.timeline__item__title,
.timeline__item__date {
  display: block;
  padding-left: 20px;
}

.timeline__item__title {
  position: relative;
  border-left: 2px solid $govuk-border-colour;

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 15px;
    height: 2px;
    background: $govuk-border-colour;
  }

}

.timeline__item:first-child .timeline__item__title {
  border-left: 0;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, govuk-colour("white") 50%,  $govuk-border-colour 50%);
  }
}

.timeline__item__date {
  position: relative;
  @include govuk-typography-common;
  @include govuk-font($size: 16);
  padding-bottom: 5px;
  border-left: 2px solid $govuk-border-colour;
  color: $govuk-secondary-text-colour;
}

.timeline__item:last-child .timeline__item__date {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 10px;
    height: 2px;
    background: $govuk-border-colour;
  }
}

// ============================

.chart-bar {
  position: relative;
}

.chart-bar__part {
  box-sizing: border-box;
  height: 44px;
  float: left;
  background: govuk-colour("turquoise");
}

.chart-bar__part--housing {
  background: govuk-colour("light-pink");
}

.chart-bar__part--planning {
  background: govuk-colour("light-blue");
}

.chart-bar__part--development-corporation {
  background: govuk-colour("mid-grey");
}

.chart-bar__value {
  position: absolute;
  top: 0;
  left: 15px + 10px;
  @include govuk-font($size: 24);
  line-height: (44 / 24);

  @include govuk-media-query($from: tablet) {
    line-height: (44 / 24);
  }
}
