$govuk-fonts-path: "/static/govuk/assets/fonts/";
$govuk-images-path: "/static/govuk/assets/images/";

// import all GOVUK Frontend scss
@import "all";

$using-helvetica: false;

// Import common Digital Land styles
@import "common/colours";
@import "common/helvetica-fixes";
@import "common/mhclg-branding";
@import "common/site-full-width-container";

// import Digital Land components
@import "components/page-feedback";
@import "components/buttons";
@import "components/contribution-bar";
@import "components/hero";
@import "components/tags";
@import "components/panels";
@import "components/task-list";
@import "components/contents";
@import "components/govuk-search";
@import "components/dl-info-text";
@import "components/related-items";
@import "components/highlight-box";
@import "components/pagination";


.data-item {
  @include govuk-typography-common;

  .govuk-body {
    margin-bottom: 5px;
  }
}

.data-item__link {
  padding-left: 3px;
}

.govuk-tag--confirmed {
  background: govuk-colour("green");
}

.govuk-tag--disabled {
  background: govuk-colour("dark-grey");
}

.govuk-tag--warning {
  background: govuk-colour("orange");
}

.cpo-list {
  .cpo-item {
    margin-bottom: $govuk-gutter-half;
  }
}

.cpo-item {
  padding-bottom: $govuk-gutter-half;
  border-bottom: 1px solid $govuk-border-colour;
}

.cpo-item__title {
  margin: 5px 0;
}

.cpo-item__org {
  @include govuk-text-colour;
  @include govuk-font($size: 19, $weight: bold);
}


.filter-group {
  padding: 5px;
  background: govuk-colour("light-grey");

  summary {
    list-style-image: none;

    &::-webkit-details-marker {
      color: transparent;
      background: none;
    }
  }
}

.filter-group__summary {
  padding: 5px 0;

  &:hover {
    cursor: pointer;
  }
}

.filter-group[open] {
  .filter-group__summary {
    padding-bottom: 10px;
  }
}

.filter-group__fieldset {
  padding: 10px 10px 5px;
  background: $govuk-body-background-colour;
}

.filter-group__heading {
  display: inline-block;
  margin-bottom: 0;
  margin-left: -10px;
}
