{% extends "dlf-base.html" %}

{% from "./govuk-jinja-components/back-link/macro.jinja" import govukBackLink %}

{% block beforeContent %}
{{ super() }}

{{ govukBackLink({
  "text": "Back to data analysis index",
  "href": url_for('frontend.data_index')
}) }}
{% endblock %}

{% block content %}

	<span class="govuk-caption-xl">CPO data</span>
    <h1 class="govuk-heading-xl">
      {{ count_type_title | default('Count') }}
    </h1>

    <ul class="govuk-list govuk-list--bullet">
    {% if counts is mapping %}
    	{% for key in counts.keys() %}
    	<li>{% if count_type_title == "By acquiring authority" %}{{ key }} ({{ key |  map_la_code_to_name }}){% else -%}
    		<a href="{{ url_for('frontend.cpo_list', year=key) }}">{{ key }}</a>{% endif %}: {{ counts[key] }}</li>
    	{% endfor %}
    {% else %}
    	{% for pair in counts %}
    	<li><a href="{{ url_for('frontend.cpo_list', org=pair[0]) }}">{{ pair[0] |  map_la_code_to_name }} ({{ pair[0] }})</a>: {{ pair[1] }}</li>
    	{% endfor %}
    {% endif %}
    </ul>

{% endblock %}
